* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline: 0;
}

#trendingTopic {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 100px;
}

#trendingTopic a:nth-of-type(1) {
    font-size: 32px;
}

#trendingTopic a:nth-of-type(2) {
    font-size: 24px;
}

#trendingTopic a:nth-of-type(3) {
    font-size: 20px;
}
#trendingTopic a {
    font-size: 16px;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.65);
    width: 100%;
    float: left;
}

#trendingTopic a:hover {
    color: red;
}

#trendingTopic span {
    font-size: 12px;
}

#banner, #login, #user {
    background-color: #FBFBFB;
    float: left;
    height: 100px;
    color: #000;
    font-family: Arial;
    text-align: center;
    width: 50%;
}

#user {
    display: none;
    background-color: #fff;
    line-height: 100px;
    font-size: 24px;
}

#banner h1 {
    line-height: 100px;
}

#footer {
    clear: both;
    position: absolute;
    bottom: 0px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #293133;
    width: 100%;
    color: #fff;
}

#infoPage {
    float: left;
    width: 50%;
    margin-top: 100px;
}

.paragraph {
    display: block;
    margin-bottom: 25px;
    padding: 0 100px;
}
#login {
    background-color: #fff;
}

#login input[type="text"], input[type="password"] {
    margin-top: 35px;
    margin-right: 15px;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #696969;
}

#login input[type="submit"], #user input[type="submit"], #login input[type="button"] {
    border: 1px solid #696969;
    padding: 5px 20px;
    border-radius: 25px;
    background: #fff;
    line-height: 100%;
}

#user input[type="submit"] {
    margin-left: 20px;
}

#user p {
    display: inline;
}

#userfield{
    float: left;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

#login #login {
    float: left;
    margin-left: 150px;
}

#login #register input[type="submit"] {
    float: left;
    margin-top: 37.5px;
    margin-left: 20px;
}

#fullWidthBanner {
    background-color: #FBFBFB;
    float: left;
    height: 100px;
    color: #000;
    font-family: Arial;
    text-align: center;
    width: 100%;
    line-height: 100px;
}

#search {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 50px;
}

#search #form {
    margin: 0 auto;
    width: 250px;
}

#profilePage {
    float:left;
    width: 100%;
    padding: 50px 10% 0 10%;
    text-align: center;   
}

#searchResult a:hover {
    color: red;
}

#searchResult a {
    color: rgba(0, 0, 0, 0.65);
}

#searchResult {
    margin-top: 10px;
    font-size: 16px;
}

#topicPageBanner {
    float: left;
    width: 100%;
    height: 200px;
    color: #fff;
    font-weight: 700;
    background: #02028b;
    line-height: 100px;
    text-align: center;
}

#topicPageBanner h1 {
    color: #fff;
    font-size: 46px;
}

#topicPageContent {
    float: left;
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 150px);
}

#topicPagePost {
    float: left;
    width: 50%;
    margin: 0 25%;
    border: 1px solid #696969;
    border-radius: 25px;
    padding: 35px 10px;
    margin-top: 25px;
    position: relative;
}

#topicPagePost .sender {
    position: absolute;
    right: 5px;
    padding: 10px;
    top: 0;
    font-weight: bold;
    color: #000;
}

#topicPagePost .updoots {
    position: absolute;
    right: 40px;
    bottom: 0;
    padding: 10px;
}

#topicPagePost .date {
    font-style: italic;
    font-size: 10px;
}

#topicPagePost .sender:hover {
    color: red;
}

#topicPagePost:nth-last-of-type(1) {
    margin-bottom: 50px;
}

#topicPagePost .thumb {
    font-size: 22px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    transition: font-size 0.2s;
    padding: 10px;
}

#topicPagePost .thumb:hover {
    transition: font-size 0.2s;
    font-size: 32px;
    cursor: pointer;
}